.small-img {
  width: 10%;
}

.game {
  width: 100%;
}

.game-name {
  margin: 12px 0 0;
}

.pages {
  width: 75%;
}

.per-page {
  width: 40%;
}

.game-description {
  display: block;
  height: 13px;
  width: 100%;
  line-height: 12px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin-bottom: 12px;
}

.page-number {
  padding: 0 3px;
  line-height: 28px;
  height: 28px;
  display: inline-block;

  &:first-child {
    margin-left: 38px;
  }
}

.double-chevron {
  :first-child {
    position: absolute;
    right: 3px;
  }

  :last-child {
    position: relative;
    left: 3px;
  }
}
